.caja-opciones {
    background-image: url('../../public/img.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.opcion {
    color: white;
    font-size: 22px;
}

.cost {
    color: white;
    font-size: 20px;
}

.btn-desayuno {
    background-color: #847355;
    display: flex;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    color: rgb(255 255 255);
    height: 80px;
    font-size: 40px;
    align-items: center;
    border-radius: 10px;
}

.btn-almuerzo {
    background-color: #847355;
    display: flex;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    color: rgb(255 255 255);
    height: 80px;
    font-size: 40px;
    align-items: center;
    border-radius: 10px;
}

.total-cuenta {
    top: -15px;
    left: 320px;
    margin-top: 300px;
    background: #96292c;
    padding: 100px;
    border-radius: 10px;
    grid-column: 2 / 2;
    position: fixed;
    font-size: 25px;
}

.btn-cocina {
    background: #efefef;
    position: relative;
    display: inline-block;
    bottom: -50px;
    right: 50px;
    padding: 5px 30px;
    margin: -20px;
    cursor: pointer;
    font-size: 30px;
    border-radius: 5px;
}

.Cuenta {
    position: relative;
    display: inline-block;
    bottom: 80px;
    right: 50px;
    padding: 20px 30px;
    ;
    margin: -20px;
}

.icon-delete {

    font-size: larger;
    padding: 6px;

}

/* .img-cierresesion {
    background-color: red;
    width: 20px;
} */
.img-cierre{
    height: 60px;
    width: 80px;
   padding: 20px;
    color: white;
    border-radius: 10px;
    margin: 5px;
    font-size: 15px;

}

.caja-header {
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

.header-container {
    background-color: black;
}

.img-cierresesion:hover {
    background-color: rgb(104, 98, 98);
    transition: all 0.2s ease;
}

.logo-cierre{
    padding: 15PX;
    width: 40px;
    height: 40px;

}

.tabla-productos{
    background: gold;
    margin: 30px;
    display: flex;
    flex-direction: column;
    margin-top: -60px;
}

@media (min-width: 414px) and (max-width: 896px) {
}
@media (min-width: 1280px) {
  .total-cuenta{
    top: -15px;
    left: 600px;
    margin-top: 300px;
    background: #96292c;
    padding: 100px;
    border-radius: 10px;
    grid-column: 2 / 2;
    position: fixed;
    font-size: 25px;
  }  
}

.btn-eliminar{
    width: 33px;
}


